#amc>.circle-outer{
	background-image: url(images/amc/amc3.jpg);
	background-position: 25%;
	background-size: 150%;
}

#astro>.circle-outer{
	background-image: url(images/astro/astro2.jpg);
	background-position: 25%;
	background-size: 150%;
}

#cops>.circle-outer{
	background-image: url(images/cops/cops4.jpg);
	background-position: 25%;
	background-size: 150%;
}

#green>.circle-outer{
	background-image: url(images/green/green3.jpg);
	background-position: 25%;
	background-size: 150%;
}

#out>.circle-outer{
	background-image: url(images/troc/troc1.jpg);
	background-position: 25%;
	background-size: 150%;
}

#robo>.circle-outer{
	background-image: url(images/robotics/robotics11.jpg);
	background-position: 25%;
	background-size: 150%;
}

#sae>.circle-outer{
	background-image: url(images/sae/sae6.jpg);
	background-position: 80%;
	background-size: 150%;
}

#cef>.circle-outer{
	background-image: url(images/cef/cef4.jpg);
	background-position: 80%;
	background-size: 150%;
}

